@import '@styles/variables';

.loginPage {
    height: 100vh;
    width: 100vw;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .logoWrapper {
        cursor: pointer;
        height: 110px;
        width: 100%;
        background-color: $main-blue;
        background-image: url(./images/logo-white.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .credInput {
        transition: all 0.1s;
        outline: 0;
        margin-top: 35px;
        width: 50%;
        height: 55px;
        border: 1px $element-bright solid;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;

        &:hover {
            border-color: $element-grey;
        }

        &:focus,
        &:active {
            border-color: black;
        }
    }

    .additionalButtons {
        margin-top: 15px;
        margin-bottom: 45px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 15px;
        }

        a {
            color: $main-blue;
            text-decoration: none;
            transition: all 0.1s;

            svg {
                fill: $main-blue;
                transition: all 0.1s;
            }

            & + a {
                margin-left: 20px;
            }

            &:hover {
                color: $mail-blue-hover;

                svg path {
                    fill: $mail-blue-hover;
                }
            }

            &:active,
            &:focus {
                color: $mail-blue-click;

                svg path {
                    fill: $mail-blue-click;
                }
            }
        }
    }
}
