@import '@/styles/variables';

.credentials {
    transition: all 0.1s;
    outline: 0;
    width: 50%;
    height: 55px;
    border: 1px $element-bright solid;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;

    &:hover {
        border-color: $element-grey;
    }

    &:focus,
    &:active {
        border-color: black;
    }
}
