Dockerfile
Dockerfile.storybook
docker-compose.yml
docker-compose.override.yml
docker-compose.production.yml
docker-compose.staging.yml
.dockerignore

README.md
LICENSE
.git
.github
.gitignore

.next
node_modules
npm-debug.log