nav {
  background: $header-color;

  a {
    color: $main-white;
    text-decoration: none;

    &:hover {
      color: $white-hover;
    }

    &:active,
    &:focus {
      color: $white-click;
    }
  }

  .header-left {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
  .header-right {
    margin-left: auto;
    margin-right: -0;
  }
  
  .header-button {
    height: 100%;
    padding: 0 25px;
    transition: all .3s;
  }
  
  .header-button h3,
  .header-button p {
    line-height: 40px;
    color: $main-white;
    
  }
  .header-button:hover {
    background-color: #67677446;
  }
}

