@import '~slick-carousel/slick/slick.scss';
$slick-arrow-color: black;
@import '~slick-carousel/slick/slick-theme.scss';

.slick-slide {
    display: flex !important;
    justify-content: center !important;
}

.slick-current > div > div {
    transition: all 0.3s;
    background-color: #0d6efd !important;
}

.slick-next {
    right: -10px !important;
}

.slick-prev {
    left: -10px;
}
