@import '@/styles/variables';
@import '~@brainhubeu/react-carousel/lib/style.css';

.BrainhubCarouselItem {
    cursor: pointer;

    span {
        user-select: none;
    }

    > div {
        transition: all 0.3s;
        background-color: $element-grey;
    }

    &--active > div {
        background-color: $primary !important;
    }

    > div.available_tile {
        background-color: $success;
    }

    > div.weekend {
        background-color: #bcbcbc;
    }

    > div.disabled {
        background-color: #8a8a8a;
    }

    > div.busy_tile {
        background-color: $element_red;
    }

    > div.hot_tile {
        background-color: #ffa06a;
    }
}

.BrainhubCarousel__customArrows {
    height: 100%;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BrainhubCarousel__custom-arrowLeft:first-of-type {
    left: 0;
}

.BrainhubCarousel__custom-arrowLeft:last-of-type {
    right: 0;
}
