@import '@/styles/variables';

.wrapper {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    text-align: center;
    width: 325px;
    max-height: 505px;
    display: flex;
    flex-direction: column;

    .headerRow { 
        padding-right: 12px; // создаем иллюзию что скроллбар вынесен за компонент
        justify-content: center;
    }

    .headerCol {
        box-sizing: border-box;
        padding: 8px;
        height: 44px;
        background-color: #4D4F60;
        color: white;
        margin-bottom: 1px;
    }

    .column {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    button {
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 8px;
        height: 44px;
        background-color: #88D874;
        margin: 1px 0px;
        color: white;
    }

    // Выключаем поведение из бутстрэпа
    button:focus {
        background-color: #88D874;
        box-shadow: none;
    }

    button:hover {
      background-color: #3192C9;
    }
}
