.button {
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button h3 {
    font-size: 1rem;
    margin: 0;
}

@media (min-width: 576px) {
    .button {
        width: 200px;
        height: 50px;
    }
    .button h3 {
        font-size: 1.15rem;
    }
}

@media (min-width: 1200px) {
    .button {
        width: 250px;
        height: 50px;
    }
    .button h3 {
        font-size: 1.3rem;
    }
}

.button-max {
    width: 100%;
}

.button:focus {
    outline: 0;
}

.button-small {
    width: 180px;
    height: 35px;
    border-radius: 2px;
}

.button-primary {
    background-color: $main-blue;
}

.button-primary h3,
.button-primary h4 {
    color: $main-white;
}

.button-primary:hover {
    background-color: #3ca3de;
}

.button-primary:active {
    background-color: #0087d3;
}

.button-secondary {
    background-color: $main-white;
    color: $main-blue;
    border: 1px solid $main-blue;
    box-sizing: border-box;
}
