@import '~bootstrap/scss/bootstrap';
@import './variables';
@import './buttons';
@import './typography';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $main-text;
}

//@media (min-width: 1600px) {
//    .container,
//    .container-sm,
//    .container-md,
//    .container-lg,
//    .container-xl {
//        max-width: 1420px;
//    }
//}
