@import './variables';
@import '~bootstrap/scss/bootstrap';

/* Webkit должен рендерить кнопки так, как у нас */
.btn {
    -webkit-appearance: none;
}

/* Кастомный utility класс бэкграунда */
.bg-nav {
    background: #24252e;
}

:root {
    --bs-gutter-x: 1.5rem; // Отсутствие этого значения по умолчанию скорее всего является багом
}

/* Нужно для прибития футера вниз страницы */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
