$main-white: #ffffff;
$white-hover: #C1C1C1;
$white-click: #A8A8A8;
$main-blue: #3192c9;
$mail-blue-click: #0087D3;
$mail-blue-hover: #3CA3DE;;
$main-text: #3b3c47;
$main-background: #efefef;
$main-background-dark: #4d4f60;
$page-background: #fcfcfc;
$page-border: #e8e8e8;
$page-header: #f9f9f9;
$element-grey: #4d4f60;
$element-bright: #99999c;
$element-green: #88d874;
$element-turquoise: #89d7c6;
$element-red: #fc8383;
$header-color: #24252e;
