$primary: #3192c9;
$body-bg: #efefef;
$body-color: #3b3c47;
$enable-shadows: true;
$link-color: #0c76bc;
$font-family-base: 'Roboto', sans-serif;
$page-background: #fcfcfc;
$page-border: #e8e8e8;
$page-header: #f9f9f9;
$element-grey: #4d4f60;
$element-bright: #99999c;
$element-green: #88d874;
$element-turquoise: #89d7c6;
$element-red: #fc8383;
