@import '@/styles/variables';

.label {
    width: 100%;
    font-size: 18px;
    margin-bottom: 0;

    span {
        color: $element-red;
    }

    div {
        display: flex;
        align-items: center;

        select {
            width: 50%;
            cursor: pointer;
        }

        p {
            padding-left: 60px;
            width: 50%;
            color: $element-bright;
            font-weight: 300;
            font-size: 14px;
        }
    }
}

.select {
    margin-top: 7px;

    &:invalid {
        color: $element-bright;
    }

    &:hover {
        border-color: $element-grey;
    }

    &:focus,
    &:active {
        border-color: black;
    }

    &:focus > option {
        color: $main-text;
    }
}
