@import '@/styles/variables';

.label {
    width: 100%;
    font-size: 18px;
    margin-bottom: 0;

    span {
        color: $element-red;
    }

    div {
        display: flex;
        align-items: center;

        input {
            margin-top: 7px;
            width: 50%;
        }

        p {
            padding-left: 60px;
            width: 50%;
            color: $element-bright;
            font-weight: 300;
            font-size: 14px;
        }
    }
}
