@import '@/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.wrapper {
    :global {
        .btn {
            border-radius: 50px;
            width: 150px;
            margin: 0 10px;
        }

        .btn-primary {
            @include button-variant(
                $primary,
                $primary,
                darken($primary, 7.5%),
                darken($primary, 10%),
                darken($primary, 10%),
                darken($primary, 12.5%)
            );
        }

        .btn-outline-primary {
            @include button-outline-variant($primary, white, $primary, $primary);
        }
    }

    h3 {
        color: #3192c9;
        font-size: 18px;
        margin-right: 10px;
    }
}
