.login-page {
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      font-size: 22px;
      margin-bottom: 30px;
    }

    .logo-wrapper {
      cursor: pointer;
      height: 110px;
      width: 100%;
      background-color: $main-blue;
      background-image: url(./images/logo-white.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }

    .cred-input {
      transition: all .1s;
      outline: 0;
      margin-top: 35px;
      width: 50%;
      height: 55px;
      border: 1px $element-bright solid;
      border-radius: 5px;
      padding-left: 15px;
      padding-right: 15px;

      &:hover {
        border-color: $element-grey;
      }

      &:focus,
      &:active {
        border-color: black;
      }
    }

    .additional-buttons {
      margin-top: 10px;
      margin-bottom: 45px;
      display: flex;
      align-items: center;

      a {
        color: $main-blue;
        text-decoration: none;
        transition: all .1s;

        svg {
          fill: $main-blue;
          transition: all .1s;
        }

        &:hover {
          color: $mail-blue-hover;

          svg path {
            fill: $mail-blue-hover;
          }
        }

        &:active,
        &:focus {
          color: $mail-blue-click;

          svg path {
            fill: $mail-blue-click;
          }
        }
      }

      a + a {
        margin-left: 20px;
      }
      svg {
        margin-right: 15px;
      }
    }

    .submit-button {
      transition: all .1s;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 250px;
      height: 50px;
      font-size: 22px;
      line-height: 26px;
      color: $main-white;
      background-color: $main-blue;
      border: 0;
      border-radius: 2px;

      &:hover {
        background-color: $mail-blue-hover;
      }

      &:focus,
      &:active {
        background-color: $mail-blue-click;
      }
    }
  }
}
