@import '@/styles/variables';

nav {
    background: #24252e;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white-hover;
        }

        &:active,
        &:focus {
            color: white-click;
        }
    }

    .headerLeft {
        display: flex;
        flex-direction: row;
        padding: 1px;
    }
    .headerRight {
        margin-left: auto;
        margin-right: -0;
    }

    .headerButton {
        height: 100%;
        padding: 0 25px;
        transition: all 0.3s;
    }

    .headerButton h3,
    .headerButton p {
        line-height: 40px;
        color: white;
    }
    .headerButton:hover {
        background-color: #67677446;
    }
}
