@import '@/styles/variables';

.wrapper {
    label {
        margin: 0;
    }

    input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    input + label {
        display: inline-flex;
        align-items: center;
        user-select: none;

        &::before {
            transition: all 0.1s;
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $element-bright;
            border-radius: 2px;
            margin-right: 7px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        &:hover {
            cursor: pointer;

            &::before {
                border-color: $element-grey;
            }
        }
    }

    input:checked + label {
        &::before {
            border-color: $mail-blue-click;
            background-color: $mail-blue-click;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
    }
}
