@import '@/styles/variables';

footer {
    background-color: #24252e;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 18px;

    * {
        color: $main-white;
    }

    a {
        font-size: 14px;

        &:hover,
        &:focus {
            color: grey;
        }
    }

    p {
        padding: 5px;
    }
}
