footer {
  background-color: #24252e;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 18px;
  margin-top: 150px;

  a {
    color: white;
    font-size: 14px;

    &:hover,
    &:focus {
      color: grey;
    }
  }
}

footer p {
  padding: 5px;
}
