@import '@/styles/variables';

.background {
    background-color: $main-background;
    min-height: 100vh;
    display: flex;
}

.pageHeader {
    padding: 0.75rem 1.25rem;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border-radius: 5px 5px 0 0;
    background-color: $page-header;
}

.page {
    margin-top: 45px;
    background: $page-background;
    border: 1px solid $page-border;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    min-height: 800px;
}

.header {
    margin-bottom: 5px;
    color: $main-blue;
    font-weight: 400;
}

.instruction {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 50px;
}

.months {
    margin-bottom: 20px;
}
